/* you can use these variables in any css file */
:root {
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMed: 1.1rem;
  --fontSmall: 1rem;
  --background: #417194;
  --selection-color: #389fd6;
  --pale-blue: #355871;
  --dark-blue: #233342;
  --darkest-blue: #131c21;
  --turquoise: rgba(0, 190, 218, 0.75);
  --green: rgba(0, 217, 159, 0.75);
  --blue: rgba(17, 104, 217, 0.75);
  --yellow: rgb(255, 254, 106);
  --weight-1: rgba(103, 58, 182, 0.75);
  --weight-2: rgba(155, 39, 176, 0.75);
  --weight-3: rgba(233, 30, 99, 0.75);
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
